




#upload_video_pose{
    display: none;
}


#label_pose{
    background-color: var(--pri-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 60%;
    height: 15%;
    border-radius: 5px;
    cursor: pointer;
}

#label_pose:hover{
    background-color: var(--bri-color);
}



#Submit_pose{
    background-color: var(--pri-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 60%;
    height: 15%;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
}

#Submit_pose:hover{
    background-color: var(--bri-color);
}

@media (max-width:600px){
    #Submit_pose{
        width: 35%;
        height: 50%;
    }
    
    #label_pose{
        width: 35%;
        height: 50%;
    }
}