
#storyPage{
    background-color: var(--bg-color);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.story_page_container{
    /* background-color: green; */
    width: 100%;
    height: 85%;
    display: flex;
}

.story_page_container_one{
    /* background-color: blue; */
    height: 100%;
    width: 50%;
    position: relative;
    overflow: hidden;
}

.story_page_container_one_overlay{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    transform: translateY(100%);
    transition: 0.2s all ease-out;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    /* filter: drop-shadow(1px 1px 5px black); */
}

.story_page_container_one_overlay h1{
    filter: drop-shadow(1px 1px 5px black);

}

.story_page_container_one_overlay h1{
    font-size: 3rem;
}

.story_page_container_one_overlay p{
    letter-spacing: 1px;
}


.story_page_container_one:hover .story_page_container_one_overlay{
    transform: translateY(0%);
}

.story_page_container_one img{
    width: 100%;
    height: 100%;
}

.story_page_container_two{
    /* background-color: brown; */
    width: 50%;
    height: 100%;
}

.story_page_container_two_containers_one,
.story_page_container_two_containers_two{
    /* background-color: aqua; */
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}


.story_page_container_two_containers_one,
.story_page_container_two_containers_two{
    /* background-color: chartreuse; */
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.story_page_container_two_containers_one img,
.story_page_container_two_containers_two img{
    width: 100%;
    height: 100%;
}


.story_page_container_two_containers_one_overlay,
.story_page_container_two_containers_two_overlay{
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    top : 0%;
    position: absolute;
    transform: translateY(100%); 
    transition: 0.2s all ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px;
}



.story_page_container_two_containers_one_overlay h1,
.story_page_container_two_containers_two_overlay h1{
    filter: drop-shadow(1px 1px 5px black);
}

.story_page_container_two_containers_one:hover .story_page_container_two_containers_one_overlay,
.story_page_container_two_containers_two:hover .story_page_container_two_containers_two_overlay{
    transform: translateY(0%);
}