

#Products-Show{
    width: 100%;
    height: 650px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-box{
    /* background-color: aqua; */
    width: 95%;
    height: 95%;
}

.slide-title{
    /* background-color: blueviolet; */
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border-bottom: 1px solid #2980b9;
}

.slide-back{
    width: 20%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2980b9;
    color: white;
    border-radius: 0px 20px 0px 0px;
}

.slider-motion{
    /* background-color: brown; */
    /* border: 1px solid #2980b9; */
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-box{
    /* background-color: chocolate; */
    width: 100%;
    height: 70%;
    display: flex;
}

.slide-buttons{
    /* background-color:yellow; */
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-buttons button{
    padding: 1.1rem;
    border-radius: 30px;
    border: none;
    outline: none;
    font-weight: bolder;
    background-color: #2980b9;
    cursor: pointer;
    color: white;
    transition: 0.3s all ease-out;
}

.slide-buttons button:hover{
    /* background-color: rgb(165, 154, 154); */
    background-color: gold;
    color: white;
}


.slider{
    height: 100%;
    width: 80%;
    /* background-color: darkgreen; */
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.slider::-webkit-scrollbar{
    display: none;
}


.slider-card{
    height: 90%;
    width: 250px;
    background-color: rgb(165, 154, 154);
    margin: 10px;
    color: white;
    box-shadow: 3px 3px 3px black;
    flex-shrink: 0;
    border-radius: 20px;
    overflow: hidden;
}

.slider-img{
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.slider-img img{
    width: 100%;
    height: 100%;
    transition: 0.3s all ease-out;
}

.slider-img img:hover{
    transform: scale(1.5);
    transform-origin: right;
}

.slider-data{
    width: 100%;
    height: 40%;
    filter: drop-shadow(1px 1px 1px black);
    /* background-color: red; */
}

.slider-pro-title{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid white;
    /* background-color: aquamarine; */
}

.slider-pro-title h2{
    margin-left: 5px;
}

.slider-pro-btn{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}




.slider-prices{
    /* background-color: #2980b9; */
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slider-prices h5{
    text-decoration: line-through;
    opacity: 0.8;
}

.addtocart{
    background-color: #2980b9;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 30%;
    cursor: pointer;
    transition: 0.3s all ease-out;
}

.addtocart:hover{
    background-color: gold;
}


@media (max-width:500px){

    .slide-back{
        width: 60%;
    }
}